@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@400;600;700&display=swap');

:root{
    --color-primary: #006241;
    --color-secondary: #d50032;
    --color-extra: #d4e9e2;
}

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html, body{
    font-family: 'Open sans', sans-serif;
    line-height: 1.4;
    color: black;
}

a{
    color: black;
}

ul{
    list-style: none;;
}

p{
    margin: 5px 0;
    line-height: 1.7;
}

img{
    max-width: 100%;
}

/* Navbar */
.navbar{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 1PX 3PX darkgray;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul{
    display: flex;
    align-items: center;
}

.navbar li{
    margin: 0 15px;  
    font-weight: bold;
}

.navbar a{
    color: black;
    text-decoration: none;
}

.navbar a:hover{
    color:var(--color-primary);
}

.navbar-brand img{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.navbar-nav-left{
    text-transform: uppercase;
    flex: 1;
    margin-left: 20px;
}

.navbar-nav-right li:first-child a{
    display: flex;
    align-items: center;
}

.navbar-nav-right img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.navbar-nav-right li:nth-child(2) {
    margin: 0 5px
}

/* Box */
.box{
    margin-bottom: 30px;
}

.box-inner{
    max-width: 700px;
    margin: 0 auto;

}

.box-text{
    max-width: 500px;;
}

/* Grid Styles */

.grid-col-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.grid-reversed :first-child{
    order:2;
}

/* Button */

.btn{
    cursor: pointer;
    display: inline-block;
    background: none;
    border: none;
    border: 1px black solid;
    border-radius: 50px;
    padding: 7px 16px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
}

.btn-dark-outline{
    border-color: black;
    color: black;
}

.btn-dark-outline:hover{
    background-color: rgb(0, 0, 0, 0.06);
}

.btn-light-outline{
    border-color: white;
    color: white;
}

.btn-dark{
    background-color: black;
    color: white;
}

.btn-dark:hover{
    background-color: #333;
}

/* Backgrounds */

.bg-primary{
    background-color: var(--color-primary);
    color: white;
}

.bg-secondary{
    background-color: var(--color-secondary);
    color: white;
}

.bg-extra{
    background-color: var(--color-extra);
    color: white;
}

.bg-dark{
    background-color: var(--color-dark);
    color: white;
}

/* Text style */
.text-lg{
    font-size: 40px;
    text-decoration: uppercase;
    margin-bottom: 20px;
}

.text-center{
    text-align: center;
}

.text-md{
    font-size: 24px;
    margin-bottom: 20px;
}

.text-sm{
    font-size: 19px;
    margin-bottom: 20px;
}

.text-xl{
    font-size: 50px;
    text-transform:uppercase;
    letter-spacing: 6px;
    font-weight: 600;
    margin-bottom: 20px;
}

/* padding */
.py-sm{
    padding: 10px 0;
}
.py-md{
    padding: 20px 0;
}
.py-lg{
    padding: 40px 0;
}

@media(max-width:960px){
    .text-xl{
        font-size: 30px;
    }

    .text-lg{
        font-size: 25px ;
    }

    .text-md{
        font-size: 19px ;
    }

}

@media(min-width: 1440px){
    .box{
        max-width:1440px;
        margin-left: auto;
        margin-right: auto;
    }
}