.circle{
    height: 1.5em;
    width: 1.5em;
    background: black;
    margin: .5em;
    border-radius: 50%;
    animation:pulse infinite 1s;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes pulse{
    from{
        background-color: darkgrey;
    }
    to{
            background-color: lightgrey;
            height: 1.6em;
            width: 1.6em;
    }
}