.flag-sweden {
    height: 150px;
    width: calc(150px*8/5);
    background-color: blue;
    display: flex;
    margin: 2em auto;
    position: relative;
}

.stripe{
    background-color: yellow;
    height:calc(150px*1/5) ;
}

.stripe1{
    align-self: center;
    width: 100%;
}

.stripe2{
    width: 150px;
    position: absolute;
    transform: rotate(90deg);
    top: calc(150px*4/10);
    right: calc((150px*8/5)*5/16);
}