body{
    background-color: black;
}
.flag-france{
    height: 150px;
    width:calc(150px*3/2);
    background-color: black;
    margin: 2em auto;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.stripe{
    flex-grow: 1;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.white{
    background-color: white;
}

