
html,body{
    font-family: 'Noto Sans', sans-serif;
}
p,h3{
    margin: 0;
    padding: 0;
}

ul{
    padding-left:0;
}

ul li{
    list-style-type: none;
}

.card{
    max-width: 300px;
    background-color: rgb(224, 158, 72);
    margin:auto;
    padding: 1em;
}

.card-thumbnail img{
     width:100% ;
     object-fit:cover;
}

.card-avtar img{
    height:50px;
    width: 50px;
    margin-right: 1em;
}

.card, img{
    border-radius: 10px;
}

.card-body{
    display: flex;
}

.card-details h3{
    font-weight: 900;
    font-size: 1em;
}

.card-details p{
    font-size: .85rem ;
    color:rgb(46, 2, 11)
}
.card-details{
    line-height: 1.5;
}

.card-stats{
    display: none;
    padding-bottom: .5em;
}

.card-stats li{
    background: brown;
    padding: .25em .5em ;
    margin-right: .5em;
    border-radius: 5px;
}


.card:hover .card-stats{
    display:flex;
}

.card:hover{
    padding-bottom: 0;
}